<header class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" onclick="goHome()">File Manager</a>
        <div class="dropdown text-right">


            <a class="dropdown-item" href="/logout">
                <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp; Logout</a>

        </div>
    </div>
</header>